DJANGO_PROJECT=<CHANGE THIS>
DJANGO_TAG=latest
DJANGO_ROOT=django
DJANGO_DEBUG=True

POSTGRES_USER=django
POSTGRES_PASSWORD_FILE=/run/secrets/postgres

PGADMIN_DEFAULT_EMAIL=<CHANGE THIS>
PGADMIN_DEFAULT_PASSWORD=<CHANGE THIS>
